html {
  height: 100%;
}

body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

#root,
.App,
basic-carousel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.App-header {
  background-color: #222;
  color: #eee;
  padding: 10px;
  text-align: center;
}
